In [7]:
import sqlite3
import pandas as pd
#from datetime import datetime
from  DB_Handling import *
from API_interface import API_Requests

In [12]:
MLModel_DB.create_db()

NameError: name 'self' is not defined

In [11]:
#DB inicializalas
ML_db = DB_Handling.MLModel_DB('DB_ML_History.db')
ML_db.create_db()

NameError: name 'DB_Handling' is not defined

In [ ]:
#Create Models
models = API_interface.API_Requests.models
for modelname in models:
    ML_db.create_model(modelname)

In [ ]:
#Create Users
ML_db.create_user('foobar', 'fb', 'Foo', 'Bar')

In [4]:
#Create Users
ML_db.create_user('zsolka', 'Bla', 'Zsolt', 'Nyurga')
ML_db.create_user('zsolesz', 'Phuuu', 'Zsolt', 'Nyirati')
ML_db.create_user('sandy', 'Picike', 'Szandra', 'Varga')

In [3]:
#CHK_account_if_exists
ML_db.chk_account_if_exists('sandy')

True

In [6]:
#LOGIN
ML_db.login('sandy','Picike')

  account_name     pwd first_name last_name
0        sandy  Picike    Szandra     Varga

In [3]:
#Create LOG
ML_db.create_log('zsolesz', 'sentiment_analysis',
                'Oh My God', None, 
                'POSITIVE', 0.5875399112701416)

True

In [7]:
ML_db.create_log(user_name = 'sandy', model_name = 'sentiment_analysis',
                context = 'Oh My God', question = None,
                answer = 'POSITIVE', score = 0.5875399112701416)

True

In [5]:
#Query LOG by User
df_log = ML_db.log_query('zsolka')
if df_log is None:
    print('Sorry')
else:
    df_log.head()

  account_name                name    context question
0       zsolka  sentiment_analysis  Oh My God     None